.notice {
  position: relative;
  padding: 0 12px;
  font-weight: var(--font-weight-thin);
  border-radius: var(--border-radius, "3px");
  border: 1px solid var(--colors-border);
  border-left-width: 4px;
  color: var(--colors-grayedOut);

  h1, h2, h3, h4, h5, h6 {
    margin: 12px 0;
    font-weight: var(--font-weight-thick);
  }

  &:not(:last-child) {
    border-bottom: 1px dashed var(--colors-border);
  }
      
  &.color-primary {
    border-left-color: var(--colors-primary);

    h1, h2, h3, h4, h5, h6 {
      color: var(--colors-primary);
    }
  }
      
  &.color-secondary {
    border-left-color: var(--colors-secondary);

    h1, h2, h3, h4, h5, h6 {
      color: var(--colors-secondary);
    }
  }

  &.color-success {
    border-left-color: var(--colors-success);

    h1, h2, h3, h4, h5, h6 {
      color: var(--colors-success);
    }
  }

  &.color-danger {
    border-left-color: var(--colors-danger);

    h1, h2, h3, h4, h5, h6 {
      color: var(--colors-danger);
    }
  }

  &.color-warning {
    border-left-color: var(--colors-warning);

    h1, h2, h3, h4, h5, h6 {
      color: var(--colors-warning);
    }
  }
}