$containerWidth: 1200px;
$desktopBreakpoint: 992px;
$headerHeight: 50px;
$tabletBreakpoint: 768px;

$background: #ECF0F1;
$headerBackground: #363D44;
$headerBackgroundHighlight: #24292D;
$headerDropdownBackground: #FFFFFF;
$headerLogoHighlight: #1EB6F2;
$headerText: #FFFFFF;
$headerTextOpaque: #BFC4CA;
$text: #333333;

$font: 'Open Sans', sans-serif;
$weightThin: 300;
$weightRegular: 400;
$weightThick: 700;

body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: $background;
  font-size: 14px;
  font-family: $font;
  font-weight: $weightRegular;
  color: $text;

  * {
    box-sizing: border-box;
  }
}

*:focus {
  outline: 0;
}

a {
  color: $text;
  text-decoration: none;
  cursor: pointer;
}

@import "./components/ellipsis/ellipsis.scss";