body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: var(--colors-background);
  font-size: var(--font-size);
  font-family: var(--font-family);
  font-weight: var(--font-weight-regular);
  color: var(--colors-text);

  * {
    box-sizing: border-box;
  }
}

*:focus {
  outline: 0;
}

a {
  color: var(--colors-text);
  text-decoration: none;
  cursor: pointer;
}

@import "./components/grid/container.scss";
@import "./components/button/button.scss";
@import "./components/ellipsis/ellipsis.scss";